<div class="container">
    <div class="row">
        <div class="col-3 grid" *ngFor="let game of games; let i = index">
            <p (click)="showGame(game.id)" >Name: <u>{{game.name}} </u></p>
            <p>Year: {{game.year}}</p>
            <p>Manufacturer: {{game.manufacturer}}</p>
        </div>
    </div>
</div>
<!-- modal -->
<div class="show_element" *ngIf="display_show">
    <div class="modal-content">
        <div class="row">
            <div class="col-6">
                <p>Name: {{ game?.name }}</p>
                <p>Description: {{ game?.description }}</p>
                <p>Year: {{ game?.year }}</p>
                <p>Manufacturer: {{ game?.manufacturer }}</p>
                <p>Likes: {{ game_likes }}</p>
            </div>
            <div class="col-6">
                <img [src]="image_path">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" (click)="toggleModal()" class="btn btn-danger">Close</button>
                <button type="button" (click)="likeGame()" class="btn btn-info">Like Game</button>
            </div>
        </div>
    </div>
</div>